<div class="d-flex justify-content-center flex-column flex-shrink-0 p-3" style="background-color: #1E5128;">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="/dashboard">
                <button class="btn btn-primary shadow px-4 py-3" style="background-color: rgb(255, 255, 255); border-style: none; border-radius: 50%;">
                    <img src="../../../../assets/LOGO.png" style="width: 50px;">            
                </button>
            </a>
        </div>
    </div>
    <hr style="height: 3px;">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <ul class="nav flex-column">
                <li class="d-flex justify-content-start">
                    <button class="btn btn-primary" style="background-color: #4E9F3D; border-style: none; border-radius: 20px; width: 210px;">
                        <a [routerLink]="['/dashboard/corpse']" class="nav-link d-flex justify-content-start align-items-center" style="font-size: 20px; color:#191A19">
                            <img src="./../../../../assets/icons8-sleeping-bag-100.png" style="width: 35px;" class="me-2"><b style="color: #D8E9A8;"> Corpse</b>
                        </a>
                    </button>
                </li>
                <br>
                <li class="d-flex justify-content-start">
                    <button class="btn btn-primary" style="background-color: #4E9F3D; border-style: none; border-radius: 20px; width: 210px;">
                        <a [routerLink]="['/dashboard/grave']" class="nav-link d-flex justify-content-start align-items-center" style="font-size: 20px; color:#191A19">
                            <img src="./../../../../assets/icons8-cemetery-100.png" style="width: 35px;" class="me-2"><b style="color: #D8E9A8;"> Grave</b> 
                        </a>
                    </button>
                </li>
                <br>
                <li class="d-flex justify-content-start">
                    <button class="btn btn-primary" style="background-color: #4E9F3D; border-style: none; border-radius: 20px; width: 210px;">
                        <a [routerLink]="['/dashboard/transaction']" class="nav-link d-flex justify-content-start align-items-center" style="font-size: 20px; color:#191A19">
                            <img src="./../../../../assets/icons8-transaction-96.png" style="width: 35px;" class="me-2"><b style="color: #D8E9A8;"> Transaction</b> 
                        </a>
                    </button>
                </li>
                <br>
                <li class="d-flex justify-content-start">
                    <button class="btn btn-primary" style="background-color: #4E9F3D; border-style: none; border-radius: 20px; width: 210px;">
                        <a [routerLink]="['/dashboard/reservation']" class="nav-link d-flex justify-content-start align-items-center" style="font-size: 20px; color:#191A19">
                            <img src="./../../../../assets/icons8-reserve-90.png" style="width: 35px;" class="me-2"><b style="color: #D8E9A8;"> Reservation</b> 
                        </a>
                    </button>
                </li>
                <br>
                <li class="d-flex justify-content-start">
                    <button class="btn btn-primary" style="background-color: #4E9F3D; border-style: none; border-radius: 20px; width: 210px;">
                        <a [routerLink]="['/dashboard/users']" class="nav-link d-flex justify-content-start align-items-center" style="font-size: 20px; color:#191A19">
                            <img src="./../../../../assets/icons8-user-account-96.png" style="width: 35px;" class="me-2"><b style="color: #D8E9A8;"> Users</b> 
                        </a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <hr style="height: 3px;">
    <div class="col-12 d-flex justify-content-center mt-2">
        <button class="fs-4 shadow btn-danger btnSignOut" (click)="ngOnSignOut()" [routerLink]="['/']"><i class="fas fa-sign-out-alt d-flex justify-content-center"></i></button>
    </div>
</div>





