<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col d-flex justify-content-center mb-4">
            <h1 style="font-size: 65px;">Management</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-3 d-flex justify-content-center">
            <button class="shadow-lg btnMenu" [routerLink]="['/corpse']">Corpse</button>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button class="shadow-lg btnMenu" [routerLink]="['/grave']">Grave</button>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 d-flex justify-content-center">
            <button class="fs-4 shadow mt-5 btn-danger btnSignOut" (click)="ngOnSignOut()" [routerLink]="['/']"><i class="fas fa-sign-out-alt d-flex justify-content-center"></i></button>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
            <p class="text-danger"><b>Sign Out</b></p>
        </div>
    </div>
</div>


