<div class="container mt-4 shadow-lg p-1" style="border-radius: 20px">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 style="font-size: 70px;">Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <hr style="width: 600px; height: 2px;">
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-3 d-flex justify-content-center">
            <button class="shadow btnMenu p-4" [routerLink]="['/dashboard/corpse']">Corpse</button>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button class="shadow btnMenu p-4" [routerLink]="['/dashboard/grave']">Grave</button>
        </div>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-3 d-flex justify-content-center">
            <button class="shadow btnMenu p-4" [routerLink]="['/dashboard/transaction']">Transaction</button>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button class="shadow btnMenu p-4" [routerLink]="['/dashboard/reservation']">Reservation</button>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button class="shadow btnMenu p-4" [routerLink]="['/dashboard/user']">User</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            <button class="fs-4 shadow mt-5 btn-danger btnSignOut" (click)="ngOnSignOut()" [routerLink]="['/']"><i class="fas fa-sign-out-alt d-flex justify-content-center"></i></button>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
            <p class="text-danger"><b>Sign Out</b></p>
        </div>
    </div>
</div>







