.usernameField{
    border-radius: 10px; 
    width: 330px; 
    height: 50px; 
    border-width: 3px; 
    border-color: #4E9F3D;
}

.passwordField{
    border-radius: 10px; 
    width: 330px; 
    height: 50px; 
    border-width: 3px; 
    border-color: #4E9F3D;
}

.btnSignIn{
    border-radius: 20px; 
    height: 50px; 
    width: 330px; 
    color: white; 
    background-color: #4E9F3D; 
    border-style: none;
}