<div class="container shadow mt-5 mb-5" style="border-radius: 20px; width: 430px;">
  <div class="row d-flex justify-content-center pt-4">
    <div class="col d-flex justify-content-start ps-5">
      <h1 style="font-size: 60px">Sign In</h1>
    </div>
    <div class="row ps-5 mb-4">
      <h5 class="lead" style="color: #4E9F3D;">Assalamualaikum</h5>
    </div>
    <div class="row mb-5">
      <div class="col d-flex justify-content-center">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 form-group">
            <label>Username</label>
            <input type="text" class="form-control is-valid usernameField" formControlName="username" [ngClass]="isFieldValid('username')">
            <!-- <div class="invalid-feedback" validation-message></div> -->
          </div>
          <div class="mb-5 form-group">
            <label>Password</label>
            <input type="password" class="form-control is-valid passwordField" formControlName="password" [ngClass]="isFieldValid('password')">
            <!-- <div class="invalid-feedback" validation-message></div> -->
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btnSignIn">
                Sign In
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
