<app-sidebar-new></app-sidebar-new>
<div class="content">
    <div class="card shadow-lg mt-3 mb-5 mx-3 p-4" style="background-color: #1E5128; border-radius: 20px; border-style: none;">
        <h1 class="mb-5" style="color: #D8E9A8; font-size: 50px;">Reservation List</h1>
        <div class="table-responsive">
            <table class="table table-responsive" style="color: #D8E9A8;">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">Id</th>
                        <th scope="col">User Name</th>
                        <th scope="col">User Balance</th>
                        <th scope="col">Grave Name</th>
                        <th scope="col">Grave Price</th>
                        <th scope="col">Total Slot</th>
                        <th scope="col">Expired Date</th>
                        <th scope="col">Description</th> 
                    </tr>
                </thead>
                <ng-container *ngIf="reservations.length > 0; else kosong">
                    <tbody *ngFor="let reservation of reservations">
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.userName }}</td>
                            <td>{{ reservation.userBalance }}</td>
                            <td>{{ reservation.graveName }}</td>
                            <td>{{ reservation.gravePrice }}</td>
                            <td>{{ reservation.totalSlot }}</td>
                            <td>{{ reservation.expiredDate }}</td>
                            <td>{{ reservation.description }}</td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #kosong>
                    <tbody>
                        <tr>
                            <td colspan="8" rowspan="5" class="text-center mt-2 fs-5 fw-bold">
                                Data Kosong
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>