<div class="container mt-3">
    <form class="container form-green" style="border-radius: 20px;" [formGroup]="corpseForm">
      <div class="row pt-4">
        <div class="col">
          <h1 style="color: white; font-size: 50px;">Form</h1>
        </div>
        </div>
        <div class="row pt-2" style="color: white;">
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputName" class="form-label" >Name Corpse</label>
            <input type="text" 
            class="form-control" 
            id="exampleInputName" 
            formControlName="name" 
            >
          </div>
        </div>
        <div class="col-6" >
          <div class="mb-3" >
            <label for="exampleInputSlot" class="form-label" >Date</label>
            <input type="number" 
            class="form-control" 
            id="exampleInputSlot"
            formControlName="date"
            
            >
          </div>
        </div>
      </div>
    
      <div class="mb-3">
          <label for="exampleInputPhone" class="form-label" style="color: white;">Location</label>
          <input type="number" 
          class="form-control" 
          id="exampleInputPhone"
          formControlName="location"
          >
        </div>
        <div class="mb-3">
          <label for="exampleInputType" class="form-label" style="color: white;">Parent Name</label>
          <input type="text" 
          class="form-control" 
          id="exampleInputType"
          formControlName="parentName"
          >
        </div>
        <div class="row pb-4">
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn" style="border-radius: 20px; width: 130px; background-color: #1E5128; color: white;" (click)="addCorpse()">Submit</button>
          </div>
        </div>
      
    </form>
  
  
  
  </div>
