<div class="card shadow-lg mt-4 mx-3 mb-4 p-4"style="background-color: #1e5128; border-radius: 20px; border-style: none">
    <div class="row mb-4 pb-2">
        <div class="col">
          <h1 style="color: #D8E9A8; font-size: 50px;">User Data</h1>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <div class="btn btn-warning shadow px-4" style="border-radius: 15px;" [routerLink]="['/dashboard/user-form2']"><b>Add User Data</b></div>
        </div>
      </div>
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" style="color: #D8E9A8;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
                <tbody *ngIf="users.length > 0; else kosong">
                    <tr *ngFor="let user of users" style="background-color: #1E5128;">
                        <td style="text-align: start;">{{ user.name }}</td>
                        <td style="text-align: start;">{{ user.username }}</td>
                        <td style="text-align: start;">{{ user.email }}</td>
                        <td style="text-align: end;">{{ user.phoneNumber }}</td>
                        <td style="text-align: start;">{{ user.address }}</td>
                        <td>
                            <div>
                                <button type="button" class="btn btn-warning m-1" routerLink="{{ user.id }}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" (click)="setId(user.id)" data-bs-target="#exampleModal">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            <ng-template #kosong>
                <tbody>
                    <tr>
                        <td colspan="10" rowspan="5" class="text-center mt-2 fs-5 fw-bold">
                            Data Kosong
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>
<div class="modal fade" id="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">
                    Modal title {{id}}
                </h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="row my-4">
                <div class="col d-flex justify-content-center">
                    <h3 style="color: #1e5128;">Delete Data?</h3>
                </div>
            </div>
            <div class="modal-footer mb-2">
                <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger mx-3" data-bs-dismiss="modal" (click)="onDeleteUser(id)">
                    Confirm
                </button>
            </div>            
        </div>
    </div>
</div>