<div class="card shadow-lg mt-4 mx-3 mb-4 p-4" style="background-color: #1E5128; border-radius: 20px; border-style: none;">
    <h1 class="mb-5" style="color: #D8E9A8; font-size: 50px;">User List </h1>
    <div class="table-responsive">
        <table class="table table-responsive" style="color: #D8E9A8 ;">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th> 
                </tr>
            </thead>
            <ng-container *ngIf="users.length > 0; else kosong">
                <tbody *ngFor="let user of users">
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>{{ user.address }}</td>
                        <td> 
                            <div>
                              <button 
                              type="button" 
                              class="btn btn-warning m-1"
                              routerLink="{{ user.id }}">
                              <i class="bi bi-box-arrow-right"></i>
                              <i class="fas fa-edit"></i></button>
                              <button 
                              type="button" 
                              class="btn btn-danger m-1"
                              (click)="onDeleteUser(user.id)">
                              <i class="fas fa-trash"></i></button>
                           </div>
                        </td>    
                    </tr>
                </tbody>
            </ng-container>
            <ng-template #kosong>
                <tbody>
                    <tr>
                        <td colspan="8" rowspan="5" class="text-center mt-2 fs-5 fw-bold">
                            Data Kosong
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>