<app-sidebar-new></app-sidebar-new>
<div class="content mb-4">
    <div class="card shadow-lg mt-3 mb-5 mx-3 p-4" style="background-color: #1E5128; border-radius: 20px; border-style: none;">
        <h1 class="mb-5" style="color: #D8E9A8; font-size: 50px;">Transaction List</h1>
        <div class="d-flex justify-content-end mb-4">
        </div>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" style="color: #D8E9A8;">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">User Name</th>
                        <th scope="col">Grave Name</th>
                        <th scope="col">Grave Price</th>
                        <th scope="col">Total Slot</th>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th> 
                    </tr>
                </thead>
                    <tbody *ngIf="transactions.length > 0; else kosong">
                        <tr *ngFor="let transaction of transactions" style="background-color: #1E5128;">
                            <td style="text-align: start;">{{ transaction.userName }}</td>
                            <td style="text-align: start;">{{ transaction.graveName }}</td>
                            <td style="text-align: end;">{{ transaction.gravePrice | currency:'Rp.' }}</td>
                            <td style="text-align: end;">{{ transaction.totalSlot }}</td>
                            <td style="text-align: start;">{{ transaction.date.toString() | date:'longDate' }}</td>
                            <td style="text-align: start;">{{ transaction.description }}</td>
                        </tr>
                    </tbody>
                <ng-template #kosong>
                    <tbody>
                        <tr>
                            <td colspan="8" rowspan="5" class="text-center mt-2 fs-5 fw-bold">
                                Data Kosong
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>