    <div class="card shadow-lg mt-4 mx-3 p-4" style="background-color: #1E5128; border-radius: 20px; border-style: none;">
      <div class="row mb-4 pb-2">
        <div class="col">
          <h1 style="color: #D8E9A8; font-size: 50px;">Corpse Data</h1>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="color: #D8E9A8;">
          <thead>
            <tr class="text-center">
              <th scope="col">Corpse ID</th> 
              <th scope="col">Name Corpse</th>
              <th scope="col">Grave Name</th>
              <th scope="col">Block Location</th>
              <th scope="col">Parent Name</th>
            </tr>
            </thead>
            <!-- <ng-container > -->
              <tbody *ngIf="corpses.length > 0; else kosong">
                <tr *ngFor="let corpse of corpses" class="text-start" style="background-color: #1E5128;">
                  <td scope="row">{{ corpse.id }}</td>
                  <td scope="row">{{ corpse.name }}</td>
                  <td scope="row">{{ corpse.grave.name }}</td>
                  <td scope="row">{{ corpse.location }}</td>
                  <td scope="row">{{ corpse.parentName }}</td>
                </tr>
              </tbody>
            <!-- </ng-container> -->
            <ng-template #kosong>
              <tbody>
                  <tr>
                      <td colspan="8" rowspan="5" class="text-center mt-2 fs-5 fw-bold">
                          Data Kosong
                      </td>
                  </tr>
              </tbody>
          </ng-template>
        </table>
      </div>
  </div>

