<form class="card shadow-lg mt-4 p-4 mx-3" style="border-radius: 20px; background-color: #1E5128;" [formGroup] = "graveForm">
  <div class="row mb-4">
    <div class="col">
      <h1 style="color: #D8E9A8; font-size: 50px;">Grave Form</h1>
    </div>
    </div>
    <div class="row pt-2" style="color: #D8E9A8;">
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleInputName" class="form-label"><b>Name Grave</b></label>
        <input type="text" 
        class="form-control" 
        id="exampleInputName" 
        formControlName="name"
        style="background-color: #D8E9A8; color: #1E5128; border-radius: 10px; border-style: none;" 
        >
      </div>
    </div>
    <div class="col-6" >
      <div class="mb-3" >
        <label for="exampleInputSlot" class="form-label" ><b>Type</b></label>
        <select id="exampleInputSlot" class="form-select" formControlName="type" style="background-color: #D8E9A8; color: #1E5128; border-radius: 10px; border-style: none;">
          <option selected value="Public">Public</option>
          <option value="Private">Private</option>
        </select>
      </div>
    </div>
  </div>
  <div class="mb-3">
      <label for="exampleInputAvailableSlots" class="form-label" style="color: #D8E9A8;"><b>Available Slots</b></label>
      <input type="number" 
      class="form-control" 
      id="exampleInputPhone"
      formControlName="availableSlots"
      style="background-color: #D8E9A8; color: #1E5128; border-radius: 10px; border-style: none;"
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputPhoneNumber" class="form-label" style="color: #D8E9A8;"><b>Phone Number</b></label>
      <input type="text" 
      class="form-control" 
      id="exampleInputPhoneNumber"
      formControlName="phoneNumber"
      style="background-color: #D8E9A8; color: #1E5128; border-radius: 10px; border-style: none;"
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputPrice" class="form-label" style="color: #D8E9A8;"><b>Price</b></label>
      <input type="text" 
      class="form-control" 
      id="exampleInputPrice"
      formControlName="price"
      style="background-color: #D8E9A8; color: #1E5128; border-radius: 10px; border-style: none;"
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputAddress" class="form-label" style="color: #D8E9A8;"><b>Address</b></label>
      <input type="text" 
      class="form-control" 
      id="exampleInputAddress"
      formControlName="address"
      style="background-color: #D8E9A8; color: #1E5128; border-radius: 10px; border-style: none;"
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputDescription" class="form-label" style="color: #D8E9A8;"><b>Description</b></label>
      <input type="text" 
      class="form-control" 
      id="exampleInputDescription"
      formControlName="description"
      style="background-color: #D8E9A8; color: #1E5128; border-radius: 10px; border-style: none;"
      >
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn" style="border-radius: 20px; width: 130px; background-color: #4E9F3D; color: #D8E9A8;" (click)="addGrave()"><b>Submit</b></button>
      </div>
    </div>
  
</form>  
